.env
.venv/
venv/
env/
__pycache__/
models/
logs/
core/__pycache__
core/*.pyc

#Streamlit 

Streamlit/outputs/
Streamlit/outputs_reg/

# OS artifacts
.DS_Store

# IDE
.vscode/
.idea/


## Testing
Streamlit/automl
Streamlit/llm
Streamlit/automl_studio_old.py
Streamlit/interface_old.py
Streamlit/simple_test_old.py
Streamlit/test_app_old.py
run_automl.py
run_streamlit.py
FastAPI/main_old.py
core/chatbot_test.py
core/context_schema.py